<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- todo move styles to the parent, remove jquery from scripts, replace parent jquery with this one here, remove head tag,-->
  <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.bootstrap.min.css"/>
  <style>
    .btn:focus, .btn:active, a:focus {
      outline: none !important;
      box-shadow: none;
    }

    div.dt-buttons {
      float: right;
    }

    div.dataTables_info, div.dataTables_length {
      float: left;
    }

    thead input {
      width: 100% !important;
      padding: 3px;
      box-sizing: border-box;
    }
  </style>
</head>

<body th:fragment="associations_datatable(url)">
<!-- Associations table -->
<div id="association-table-loading">
  <div id="association_panel" class="panel panel-default">
    <div class="panel-heading background-color-primary-accent">
      <h3 class="panel-title">
        <span class="association_label">Associations</span>
        <span class="association_count badge available-data-btn-badge"></span>
      </h3>
      <span class="pull-right">
                        <span class="clickable"
                              style="margin-left:25px"
                              onclick="toggleSidebar('#association_panel span.clickable')">
                              <span class="glyphicon glyphicon-chevron-up"></span>
                        </span>
                    </span>
    </div>

    <div class="panel-body">
      <table id="association-table-v2" style="width:100%" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Variant and <br/> risk allele</th>
          <th>P-value</th>
          <th>P-value <br/> annotation</th>
          <th>RAF</th>
          <th>OR</th>
          <th>Beta</th>
          <th>CI</th>
          <th>Mapped gene</th>
          <th>Reported trait</th>
          <th>Trait(s)</th>
          <th>Background <br/> trait(s)</th>
          <th>Study accession</th>
          <th>Location</th>
        </tr>
        <tr>
          <th class="searchable">Variant and risk allele</th>
          <th>P-value</th>
          <th class="searchable">P-value annotation</th>
          <th>RAF</th>
          <th>OR</th>
          <th>Beta</th>
          <th>CI</th>
          <th class="searchable">Mapped gene</th>
          <th class="searchable">Reported trait</th>
          <th class="searchable">Trait(s)</th>
          <th class="searchable">Background trait(s)</th>
          <th class="searchable">Study accession</th>
          <th>Location</th>
        </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.2/dataRender/ellipsis.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
<script th:inline="javascript">
  //<![CDATA[
  $('#association-table-v2 thead tr:eq(1) th').each(function () {
    if ($(this).hasClass('searchable')) {
      $(this).html('<input type="text" class="form-control"/>');
    } else {
      $(this).html('<input type="text" class="form-control" disabled="disabled"/>');
    }
  });
  $(document).ready(function () {
    showLoadingOverLay('#association-table-loading');
    $('#association-table-v2').DataTable({
      serverSide: true,
      ajax: {
        url: gwasProperties.contextPath + 'api/v2' + [[${url}]] + '/associations',
        dataType: 'JSON',
        dataSrc: function (json) {
          json.recordsTotal = json.page.totalElements;
          json.recordsFiltered = json.page.totalElements;
          $(".association_count").html(json.recordsTotal);
          if (!json._embedded) json['_embedded'] = {};
          return json._embedded.associations;
        },
        data: function (d) {
          const c = {};
          // for trait page
          c.includeChildTraits = $('#toggle-data-display').is(':checked');
          c.includeBgTraits = $('#include-bg-traits').is(':checked');
          d.columns.forEach(e => {
            if (e.search.value !== '') {
              c[e.name] = e.search.value;
            }
          })
          if (d.order.length > 0) {
            c.sort = d.columns[d.order[0].column].name + "," + d.order[0].dir;
          }
          c.size = d.length;
          c.page = d.start / d.length;
          return c;
        }
      },
      orderCellsTop: true,
      scrollX: true,
      order: [],
      columns: [
        {
          data: 'riskAllele', name: 'riskAllele', defaultContent: '-', render: function (data) {
            $.each(data, function (index, trait) {
              const link = gwasProperties.contextPath + 'variants/' + trait?.key;
              // const link = 'https://www.ebi.ac.uk/gwas/variants/' + trait?.key;
              data[index] = '<a href="' + link + '">' + trait?.label + '</a>'
            });
            return data.join(', ')
          }, orderable: false
        },
        {data: 'pValue', name: 'pvalue', render: function (data, type, row) {
            return data + " x 10<sup>" + row["pValueExponent"] + "</sup>";
          }, width: '5%'
        },
        {data: 'pValueAnnotation', name: 'pValueAnnotation', defaultContent: "-", orderable: false},
        {data: 'riskFrequency', name: 'raf', defaultContent: "-", width: '5%'},
        {data: 'orValue', name: 'or', defaultContent: "-", width: '5%'},
        {data: 'beta', name: 'beta', defaultContent: "-", width: '5%'},
        {data: 'ci', name: 'ci', defaultContent: "-", orderable: false, width: '5%'},
        {
          data: 'mappedGenes',
          name: 'mappedGene',
          defaultContent: "-",
          render: function (data) {
            if (!data) return null;
            if (data.length === 1 && data[0].match(" x ")){
              // snp x snp interaction: rs2282015-G
              var combinedGenes = [];
              for ( var mappedComponents of data[0].split(" x ")){
                combinedGenes.push(generateLinkedGene(mappedComponents.split(" - "), " - "));
              }
              return combinedGenes.join(" x ");
            }
            else if (data.length === 1 && data[0].match("; ")){
              // haplotype associations: rs2446581
              return generateLinkedGene(data[0].split("; "), "; ");
            }
            else {
              // Ordinary variants, potentially multiple mapped genes: rs3897478
              return generateLinkedGene(data);
            }
          },
          orderable: false},
        {data: 'traitName', name: 'reportedTrait', render: function (data) {return data ? data.join(", ") : null}, defaultContent: "-", orderable: false},
        {
          data: 'efoTraits', name: 'efoTrait', render: function (data) {
            $.each(data, function (index, trait) {
              // TODO use the gwasProperties
              const link = gwasProperties.contextPath + 'efotraits/' + trait.key;
              // const link = 'https://www.ebi.ac.uk/gwas/efotraits/' + trait.key;
              data[index] = '<a href="' + link + '">' + trait.label + '</a>'
            });
            return data ? data.join(', ') : null;
          }, orderable: false
        },
        {
          data: 'backgroundTraits', name: 'bgTrait', render: function (data) {
            $.each(data, function (index, trait) {
              // TODO use the gwasProperties
              const link = gwasProperties.contextPath + 'efotraits/' + trait.key;
              // const link = 'https://www.ebi.ac.uk/gwas/efotraits/' + trait.key;
              data[index] = '<a href="' + link + '">' + trait.label + '</a>'
            });
            return data ? data.join(', ') : null;
          }, defaultContent: "-", orderable: false
        },
        {data: 'accessionId', name: 'accessionId', defaultContent: '-', render: function (data) {
            const link = gwasProperties.contextPath + 'studies/' + data;
            return !data ? null : '<a href="' + link + '">' + data + '</a>'
          }, orderable: false},
        {data: 'locations', name: 'locations', orderable: false, defaultContent: 'Mapping not available'},
      ],
      dom: 'lBrtip',
      buttons: [
        'colvis'
      ],
      retrieve: true,
      initComplete: function () {
        hideLoadingOverLay('#association-table-loading');
        this.api()
                .columns()
                .every(function (index) {
                  const that = this;
                  $(this.table().container()).on('keyup', 'thead tr:eq(1) th:eq(' + index + ') input', function (e) {
                    if (that.search() !== this.value) that.search(this.value);
                    if (e.keyCode === 13) that.draw();
                  });
                });
      },
      language: {
        paginate: {
          next: '<span>&raquo;</span>',
          previous: '<span>&laquo;</span>'
        }
      },
      lengthMenu: [
        [5, 10, 25, 50],
        [5, 10, 25, 50],
      ]
    })
            .on('processing.dt', function (e, settings, processing) {
              if (processing) {
                showLoadingOverLay('#association-table-loading');
              } else {
                hideLoadingOverLay('#association-table-loading');
              }
            });
  });
  function generateLinkedGene(geneNames, separator = ', '){
    var linkedGenes = [];
    for ( var gene of geneNames){
      var linkObject = $('<a></a>').attr("href", gwasProperties.contextPath + 'genes/' + gene).append(gene);
      linkedGenes.push(linkObject.prop('outerHTML'))
    }
    return (linkedGenes.join(separator));
  }
  //]]>
</script>
</body>
</html>
