<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="navbar">
    <div class="autocomplete-suggestions" style="position: absolute; display: none; max-height: 300px; z-index: 9999;"></div>

    <div th:remove="tag" th:replace="fragments/scripts :: contextPath"></div>

    <nav class="navbar navbar-inverse navbar-fixed-top">


    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar"
                    aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home}">GWAS Catalog</a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" >
                <li id="header-searchbar" style="display: none" class="mg-t-15">
                    <!-- This is the header search bar -->
                    <span class="input-group header-input-group">
                        <input type="text"
                               class="form-control ac_input hidden-sm"
                               placeholder="Search" style="width:100%; font-size:14px; display:inline; padding-left: 10px; padding-bottom: 0px;padding-top: 0px;padding-right: 0px;height: 22px;" id="header-search-box"
                               name="q"
                               data-widget="select"
                               data-ontology=""
                        />
                        <span class="input-group-btn" style="height: 20px;width: 0px;">
                            <button class="btn btn-default" type="button" id="header-search-button" style = "
                                    padding-top: 0px;
                                    padding-left: 3px;
                                    padding-bottom: 0px;
                                    padding-right: 3px">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </span>
                </li>

                <li th:classappend="${#httpServletRequest.getServletPath() == '/diagram' ? 'active':''}">
                    <a th:href="@{/diagram}">
                        Diagram
                    </a>
                </li>

                <li th:classappend="${#httpServletRequest.getServletPath() == '/diagram' ? 'active':''}">
                    <a th:href="@{/v2/diagram}">
                        Diagram-v2
                    </a>
                </li>

                <li>
                    <a th:href="@{/deposition}">
                        Submit
                    </a>
                </li>

                <li id="downloads-item" th:classappend="${#httpServletRequest.getServletPath() == '/downloads' ? 'active':''}" class="hidden-sm">
                    <a th:href="@{/downloads}">
                        Download
                    </a>
                </li>

                <li id="documentation-item" th:classappend="${#httpServletRequest.getServletPath() == '/docs' ? 'active':''}">
                    <a th:href="@{/docs}">
                        Learn
                    </a>
                </li>

                <li th:classappend="${#httpServletRequest.getServletPath() == '/docs/about' ? 'active':''}" class="hidden-sm hidden-md">
                    <a th:href="@{/docs/about}">
                        About
                    </a>
                </li>

                <li class="hidden-sm hidden-md">
                    <a href="https://ebispot.github.io/gwas-blog/" target="_blank">
                        Blog
                    </a>
                </li>

                <li>
                    <a class="icon visible-lg visible-xs" id="ebi-logo" href="//www.ebi.ac.uk">
                        <img alt="EBI logo" th:src="@{/icons/EMBL_EBI_Logo_white.png}"/>
                    </a>
                    <a class="icon hidden-lg hidden-xs" id="ebi-sm-logo" href="//www.ebi.ac.uk">
                        <img alt="EBI logo" th:src="@{/icons/EMBL_logo_img_only.png}" width="27px" height="25px"/>
                    </a>
                </li>

                <li>
                    <a class="icon visible-lg visible-xs" id="nhgri-logo" href="//www.genome.gov">
                        <img alt="GWAS logo" th:src="@{/icons/NHGRI_NIH%20logo%20all%20verions-02-scaled.png}"/>
                    </a>
                    <a class="icon hidden-lg hidden-xs" id="nhgri-sm-logo" href="//www.genome.gov">
                        <img alt="GWAS logo" th:src="@{/icons/NHGRI_logo_sm.png}" width="30px" height="25px"/>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <div class="navbar-bottom-banner-1 background-color-complementary">
    </div>
    <div class="navbar-bottom-banner-2 background-color-primary-bold">
    </div>
    <div class="navbar-bottom-banner-3 background-color-primary">
    </div>
</nav>

    <!-- Feedback Button -->
    <div class="feedback">
        <a href="mailto:gwas-info@ebi.ac.uk">
            <button type="button" id="feedback-button">feedback</button>
        </a>
    </div>

</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div th:fragment="jumbotron">
<div class="jumbotron background-color-primary-accent"  th:fragment="jumbotron">
    <div class="container">
        <div class="gwas-circle">
            <img
                 th:src="@{/images/GWAS_Catalog_circle_178x178.png}"/>
        </div>
        <div>
            <a href="https://globalbiodata.org/" target="_blank" class="resource-img">
                <img class="gbc-img" th:src="@{/images/GCBR-Logo-RGB.png}"/>
            </a>
        </div>
        <div>
            <a href="https://elixir-europe.org/platforms/data/core-data-resources" target="_blank" class="resource-img">
                <img class="elixir-img" th:src="@{/images/elixir-core-data-resources-logo.png}"/>
            </a>
        </div>
        <div>

        </div>
        <div>
            <h1>GWAS Catalog</h1>

            <h3>The NHGRI-EBI Catalog of human genome-wide association studies</h3>

            <!-- search box goes here -->
            <div class="input-group">
                <input type="text" class="form-control ac_input" placeholder="Search the catalog" id="search-box"
                name="q"
                data-widget="select"
                data-ontology=""
                />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="search-button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
            <div class="examples">
                Examples:
                <a th:href="@{/search(query='Parkinson disease')}">Parkinson disease</a>,
                <a th:href="@{/search(query=rs3093017)}">rs3093017</a>,
                <a th:href="@{/search(query=Yao)}">Yao</a>,
                <a th:href="@{/search(query=2q37.2)}">2q37.2</a>,
                <a th:href="@{/search(query=HBS1L)}">HBS1L</a>,
                <a th:href="@{/search(query='6:167120000-167130000')}">6:167120000-167130000</a>,
                <a th:href="@{/search(query=GCST90132222)}">GCST90132222</a>,
                PMID:<a th:href="@{/search(query='35241825')}">35241825</a>
            </div>
        </div>
    </div>
</div>

</div>

<!--<label>-->
    <!--<input class="filter-value ac_input form-control"-->
           <!--type="text"-->
           <!--name="q"-->
           <!--data-widget="select"-->
           <!--data-ontology=""-->
           <!--id="trait-filter"-->
           <!--placeholder="Filter by trait"-->
           <!--style="width: 100%">-->
    <!--</input>-->
<!--</label>-->


</body>
</html>
