<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="contextPath" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var host = window.location.host;

        var gwasProperties = {
            contextPath: /*[[@{/}]]*/'',
            host: host,
            // This site doesn't provide https protocol. 
            EPMC_URL: "http://www.europepmc.org/abstract/MED/",
            NCBI_URL : "//www.ncbi.nlm.nih.gov/pubmed/?term=",
            ORCID_URL : "//orcid.org/",
            OLS: {
                global_color_url_batch : ''
            },
            GWAS_REST_API: /*[[@{/rest/api}]]*/'',
            SUMMARY_STATS_URL: "www.ebi.ac.uk/gwas/summary-statistics/api",
            FTP_PATH_PREFIX: "ftp://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/",

            // Links to external sources:
            EnsemblRestBaseURL : "https://jul2018.rest.ensembl.org",
            EnsemblURL : "http://jul2018.archive.ensembl.org/Homo_sapiens/Gene/",
            OpenTargetsURL : "https://www.targetvalidation.org/target/",
            EntrezURL : "https://www.ncbi.nlm.nih.gov/gene/",
            OMIMURL : 'https://www.omim.org/entry/'
        };
//        console.log(gwasProperties);
        /*
                function imageExists(url, callback) {
                    var img = new Image();
                    img.onload = function() { callback(true); };
                    img.onerror = function() { callback(false); };
                    img.src = url;
                }

                // Check beta-icon
                var imageUrl = contextPath+'icons/beta-icon.png';
                imageExists(imageUrl, function(exists) {
                    console.log('RESULT: url=' + imageUrl + ', exists=' + exists);
                    console.log(typeof(exists));
                    if (exists) {
                        var element = document.getElementById('beta-icon');
                        element.style.display = 'inline';
                    }
                }); */
        /*]]>*/
    </script>

</div>
</body>
</html>
