<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="contextPath" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var host = window.location.host;

        var gwasProperties = {
            contextPath: /*[[@{/}]]*/'',
            host: host,
            // This site doesn't provide https protocol. 
            EPMC_URL: "http://www.europepmc.org/abstract/MED/",
            NCBI_URL : "//www.ncbi.nlm.nih.gov/pubmed/?term=",
            ORCID_URL : "//orcid.org/",
            OLS: {
                global_color_url_batch : ''
            },
            GWAS_REST_API: "https://www.ebi.ac.uk/gwas/rest/api",
            SNOOPY_REST_API: "http://snoopy.ebi.ac.uk:9680/gwas/rest/api",
            SUMMARY_STATS_URL: "https://www.ebi.ac.uk/gwas/summary-statistics/api",
            FTP_PATH_PREFIX: "http://ftp.ebi.ac.uk/pub/databases/gwas/summary_statistics/",

            // Links to external sources:
            EnsemblRestBaseURL : "https://rest.ensembl.org",
            EnsemblURL : "http://ensembl.org/Homo_sapiens/",
            OpenTargetsURL : "https://www.targetvalidation.org/target/",
            PGS_Study_REST_URL : "https://www.pgscatalog.org/rest/gwas/get_score_ids/",
            PGS_Study_URL : "https://www.pgscatalog.org/gwas/",
            PGS_Publication_REST_URL : "https://www.pgscatalog.org/rest/publication/search?pmid=",
            PGS_Publication_URL : "http://www.pgscatalog.org/publication/",
            PGS_Trait_REST_URL : "https://www.pgscatalog.org/rest/trait/",
            PGS_Trait_URL : "https://www.pgscatalog.org/trait/",
            EntrezURL : "https://www.ncbi.nlm.nih.gov/gene/",
            OMIMURL : 'https://www.omim.org/entry/',
            DEV_SUM_STATS_SERVICE : 'https://wwwdev.ebi.ac.uk/gwas/summary-statistics/api/',
            SUM_STATS_SERVICE : 'https://www.ebi.ac.uk/gwas/summary-statistics/api/',
            IS_DEV : host !== 'www.ebi.ac.uk',
            IMPC_ID_URI: 'http://localhost:8080/v1/impc-mouse-orthologs/',
            IMPC_URI: 'https://www.mousephenotype.org/data/genes/'
        };
        if (host === "wwwdev.ebi.ac.uk") {
            gwasProperties.GWAS_REST_API = "https://wwwdev.ebi.ac.uk/gwas/rest/api";
        }
        else if (host !== "www.ebi.ac.uk") {
            gwasProperties.GWAS_REST_API = "http://" + host + "/gwas/rest/api";
        }
        //console.log(gwasProperties);
        /*
                function imageExists(url, callback) {
                    var img = new Image();
                    img.onload = function() { callback(true); };
                    img.onerror = function() { callback(false); };
                    img.src = url;
                }

                // Check beta-icon
                var imageUrl = contextPath+'icons/beta-icon.png';
                imageExists(imageUrl, function(exists) {
                    console.log('RESULT: url=' + imageUrl + ', exists=' + exists);
                    console.log(typeof(exists));
                    if (exists) {
                        var element = document.getElementById('beta-icon');
                        element.style.display = 'inline';
                    }
                }); */
        /*]]>*/
    </script>

</div>
</body>
</html>
