<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body>

<div th:fragment="contextPath" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/'';
        var host = window.location.host;

        var gwasProperties = {
            contextPath: /*[[@{/}]]*/'',
            host: host,
            EPMC_URL: "http://www.europepmc.org/abstract/MED/",
            NCBI_URL : "https://www.ncbi.nlm.nih.gov/pubmed/?term=",
            ORCID_URL : "https://orcid.org/",
            OLS: {
                global_color_url_batch : 'https://wwwdev.ebi.ac.uk/gwas/labs/rest/api/parentMappings'
            },
            SUMMARY_STATS_URL: "http://www.ebi.ac.uk/gwas/summary-statistics/api"
        };
        console.log(gwasProperties);
        /*
                function imageExists(url, callback) {
                    var img = new Image();
                    img.onload = function() { callback(true); };
                    img.onerror = function() { callback(false); };
                    img.src = url;
                }

                // Check beta-icon
                var imageUrl = contextPath+'icons/beta-icon.png';
                imageExists(imageUrl, function(exists) {
                    console.log('RESULT: url=' + imageUrl + ', exists=' + exists);
                    console.log(typeof(exists));
                    if (exists) {
                        var element = document.getElementById('beta-icon');
                        element.style.display = 'inline';
                    }
                }); */
        /*]]>*/
    </script>

</div>
</body>
</html>
