<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!--move styles to the parent, remove jquery from scripts, replace parent jquery with this one here, remove head tag,-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.4/css/buttons.bootstrap.min.css"/>
  <style>
    .btn:focus,.btn:active,a:focus {
      outline: none !important;
      box-shadow: none;
    }
    div.dt-buttons {
      float: right;
    }
    div.dataTables_info, div.dataTables_length {
      float: left;
    }
    tfoot input {
      width: 100% !important;
      padding: 3px;
      box-sizing: border-box;
    }
    tfoot {
      display: table-header-group;
    }
  </style>
</head>

<body th:fragment="studies_datatable">
<!-- Studies table -->

<span id="study-cut-off-notification">  </span>

<div class="row" id="study-table-loading" style="margin-top:20px">
  <div id="study_panel" class="panel panel-default">
    <div class="panel-heading background-color-primary-accent">
      <h3 class="panel-title">
        <span class="study_label">Studies</span><span class="study_count badge available-data-btn-badge"></span>
      </h3>
      <span class="pull-right clickable"
            style="margin-left:25px"
            onclick="toggleSidebar('#study_panel span.clickable')">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </span>
    </div>

    <div class="panel-body">
      <table id="example"  style="width:100%" class="table table-striped borderless">
        <thead>
        <tr>
          <th>First author</th>
          <th>Study accession</th>
          <th>Pub. date</th>
          <th>Journal</th>
          <th>Title</th>
          <th>Reported trait</th>
          <th>Trait(s)</th>
          <th>Background trait(s)</th>
          <th>Discovery sample</th>
          <th>Replication sample</th>
          <th>Association count</th>
          <th>Summary statistics</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
          <th>First author</th>
          <th class="searchable">Study accession</th>
          <th>Pub. date</th>
          <th>Journal</th>
          <th>Title</th>
          <th class="searchable">Reported trait</th>
          <th>Trait(s)</th>
          <th>Background trait(s)</th>
          <th>Discovery sample</th>
          <th>Replication sample</th>
          <th>Association count</th>
          <th>Summary statistics</th>
        </tr>
        </tfoot>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
<script th:src="@{/js/common-datatables/datatable-icons.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.4/js/buttons.colVis.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.2/dataRender/ellipsis.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js"></script>
<script>
  $('#example tfoot th').each(function () {
    if ($(this).hasClass('searchable')) {
      $(this).html('<input type="text" class="form-control"/>');
    }
    else {
      $(this).html('<input type="text" class="form-control" disabled="disabled"/>');
    }
  });
  $(document).ready(function () {

    $('#example').DataTable({
      serverSide: true,
      ajax: {
        url: 'http://gwas-snoopy.ebi.ac.uk:9780/gwas/api/v2/variants/rs9399137/studies',
        dataType: 'JSON',
        dataSrc: function (json) {
          json.recordsTotal = json.page.totalElements;
          json.recordsFiltered = json.page.totalElements;
          return json._embedded.studies;
        },
        data: function (d) {
          const c = {};
          d.columns.forEach(e => {
            if (e.search.value !== '') {
              c[e.name] = e.search.value;
            }
          })
          if (d.order.length > 0) {
            c.sort = d.columns[d.order[0].column].name + "," + d.order[0].dir;
          }
          c.size = d.length;
          c.page = d.start / d.length;
          return c;
        }
      },
      order: [],
      columns: [
        { data: 'firstAuthor', name: 'firstAuthor', orderable: false},
        { data: 'accessionId', name: 'accessionId', orderable: false},
        { data: 'publicationDate', name: 'publicationDate', orderable: false},
        { data: 'journal', name: 'journal', orderable: false},
        { data: 'title', name: 'title', render: $.fn.dataTable.render.ellipsis(50, true), orderable: false},
        { data: 'reportedTrait', name: 'reportedTrait', orderable: false},
        { data: 'efoTraits', name: 'efoTraits', render: function (data) {
            $.each(data, function(index, trait) {
              // TODO use the gwasProperties
              //  const link = gwasProperties.contextPath + 'efotraits/' + trait.key;
              const link = 'https://www.ebi.ac.uk/gwas/efotraits/' + trait.key;
              data[index] = '<a href="' + link + '">' + trait.label + '</a>'
            });
            return data.join(', ')
          }, orderable: false},
        { data: 'backgroundTraits', name: 'backgroundTraits', defaultContent: "-", orderable: false},
        { data: 'discoverySampleAncestry', name: 'discoverySampleAncestry', orderable: false},
        { data: 'replicationSampleAncestry', name: 'replicationSampleAncestry', orderable: false},
        { data: 'associationCount', name: 'associationCount'},
        { data: 'summaryStatistics', name: 'fullPvalueSet', render: function (data) { return data === 'NA' ? '-' : '<a href="'+data+'">FTP Download</a>'}},
      ],
      dom: 'lBrtip',
      buttons: [
        'colvis'
      ],
      initComplete: function () {
        this.api()
                .columns()
                .every(function () {
                  var that = this;
                  $('input', this.footer()).on('keyup change', function(e) {
                    if (that.search() !== this.value) that.search(this.value);
                    if (e.keyCode === 13 ) that.draw();
                  });
                });
      },
      language: {
        paginate: {
          next: '<span>&raquo;</span>',
          previous: '<span>&laquo;</span>'
        }
      }
    })
            .on('processing.dt',function(e, settings, processing ){
              if (processing){
                showLoadingOverLay('#example');
              } else {
                hideLoadingOverLay('#example');
              }
            });
  });
  // todo externalise
  showLoadingOverLay = function(tagID){
    var options = {
      color: "rgba(255, 255, 255, 0.8)",   // String
      custom: "",                // String/DOM Element/jQuery Object
      fade: [10, 10],                      // Boolean/Integer/String/Array
      fontawesome: "",                          // String
//            image: "data:image/gif;base32,...",  // String
      imagePosition: "center center",             // String
      maxSize: "100px",                  // Integer/String
      minSize: "20px",                    // Integer/String
      resizeInterval: 10,                       // Integer
      size: "20%",                       // Integer/String
      zIndex: 1000,                        // Integer
    }
    $(tagID).LoadingOverlay("show",options);
  }
  hideLoadingOverLay = function(tagID){
    return $(tagID).LoadingOverlay("hide", true);
  }
</script>
</body>
</html>
