<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<body th:fragment="summary_stats_datatable">
<!--summary statistics table -->
<div class="row" id="summary-stats-table-loading" style="margin-top:20px">
    <table id="summary-stats-table" class="table table-striped borderless"
           data-flat="false"
           data-show-export="false"
           data-search="true"
           data-show-columns="true"
           data-show-multi-sort="false"
           data-icons="icons">
    </table>
</div>

<script>
    window.icons = {
        refresh: 'glyphicon glyphicon-refresh icon-refresh',
        columns: 'glyphicon glyphicon-list-alt'
    };
</script>

</body>
</html>