<!DOCTYPE html>
<html lang="en">
<head>

    <title>Testing search snippet module</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script th:src="@{/js/snippetFormatterModule.js}"></script>

    <!-- Additional styling on top of bootstrap -->
    <link rel="stylesheet" th:href="@{/css/goci-ui.css}"/>
    <link rel="stylesheet" th:href="@{/css/ontology-autocomplete.css}"/>
    <link rel="stylesheet" th:href="@{/css/icons/flaticon.css}"/>
    <link rel="stylesheet" th:href="@{/css/targetarray.css}"/>
    <link rel="stylesheet" th:href="@{/css/goci-color-palette-1.css}"/>

</head>
<body>

<div class="container-fluid" id="resultQuery">
    <br/>

</div>

</body>
</html>